.squad {
font-family: 'Anonymous Pro', monospace;
font-size: 35px;
color: #333333;
}

.members > div {
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px;
  text-align: center;
}

.members > div > span {
  position: relative;
  color:red;
  top:180px;
  color: whitesmoke;  /*#606176*/
  font-family: 'Ubuntu Mono', monospace;
  text-shadow: 3px 3px 2px #696;
}

.coder-uno {
  background-image: url("../assets/images/coder-uno.JPG");
  background-size: 200px, 200px;
}

.coder-dos {
  background-image: url("../assets/images/coder-dos.JPG");
  background-size: 200px, 200px;
}

.coder-tres {
  background-image: url("../assets/images/coder-tres.JPG");
  background-size: 200px, 200px;
}

.coder-cuatro {
  background-image: url("../assets/images/coder-cuatro.JPG");
  background-size: 200px, 200px;
  clear: left;
}

.coder-cinco {
  background-image: url("../assets/images/coder-cinco.JPG");
  background-size: 200px, 200px;
}

.coder-seis {
  background-image: url("../assets/images/coder-seis.JPG");
  background-size: 200px, 200px;
}

/*Estilos para el ejercicio de Applove*/

/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

div > img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 { /*usada*/
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase { /*usada*/
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

header {
  background-color: white;
  width: 100%;
  height: 100px;
  position: relative;
}

#menu{
  position: fixed;
  background: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 150px;
  padding-right: 132px;
}

.logo-menu {
  width:75px;
  height:75px;
  float: right;
}

.em {
  margin: 28px;
  font-weight: 900;
  float: left;
}

.mt-0 > .container {
  text-align: center;
  color: whitesmoke;
}

#first {
  background-image: url("../assets/images/bg-home.jpg");
  height: 535px;
  background-size: cover;
}

#first h2 {
  font-size: 22px;
  margin: 80px auto 0;
}

#first h1 {
  font-size: 52px;
  margin: 40px auto 0;
  font-weight: bolder;
}

#first > .container > p {
  font-size: 15px;
  margin: 0px;
}

#first > .container > div {
  font-size: 15px;
  margin: 70px auto 0;
  background: #25BD8D;
  height: 40px;
  width: 170px;
  padding-top: 10px;
  color: whitesmoke;
  weight: bolder;
}

#services {
  background: #F17C72;
  height: 580px;
}

#services h2 {
  font-size: 30px;
  margin: 80px auto 0;
  font-weight: bolder;
}

#services h4 {
  font-size: 15px;
  font-weight: bolder;
}

.serv-img {
  height: 200px;
  width: 200px;
  margin: 0 75px;
}

#services .serv-cont {
  display: inline-block;
  margin: 0px 100px;
}

#work {
  background: white;
  height: 535px;
}

#work h2 {
  font-size: 37px;
  margin: 70px auto 0;
  font-weight: bolder;
  color: #191919;
}

#work h4 {
  font-size: 17px;
  font-weight: bolder;
  line-height: 27px;
  color: #191919;
}

#work .work-hero{
  width: 100%;
}

#work .img-work {
  height: 300px;
  width: 300px;
  margin: 28px;
  display: inline-block;
}

#work p {
  bottom: 0;
  right: 0;
  color: #191919;
  display: inline-block;
  margin: 0 90px 40px;
  font-weight: bolder;
  font-size: 17px;
}

#copyright {
  margin:0px;
  padding:10px;
  position:relative;
  text-align:center;
  top:1900px;
  background-color: #191919;
  color:white;
}
 /*Estilos para el ejercicio de Pinterest*/

body {
  padding: 0px;
  margin: 0px;
}

.nav-pinterest {
  position: fixed;
  width: 100%;
  background: red;
}

main {
  padding-top: 142px;
}

 .input-nav {
   width: 550px;
 }

.search {
   float: left;
 }

 .search > img {
   margin: 0 30px;
 }

.icons {
  float: right;
}

.icons > img {
  margin: 0 30px;
}

.clear {
  clear: left;
  text-align: center;
}

section.clear > ol {
  list-style: none;
}

.categories {
  display: inline-block;
  background: #B3837A;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 5px;
}

main  > section {
  display: inline-table;
  background: red;
  width: 250px;
  padding: 0;
  margin: 0 10px;
}
