.squad {
font-family: 'Anonymous Pro', monospace;
font-size: 35px;
color: #333333;
}

.members > div {
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px;
  text-align: center;
}

.members > div > span {
  position: relative;
  color:red;
  top:180px;
  color: whitesmoke;  /*#606176*/
  font-family: 'Ubuntu Mono', monospace;
  text-shadow: 3px 3px 2px #696;
}

.coder-uno {
  background-image: url("../assets/images/coder-uno.JPG");
  background-size: 200px, 200px;
}

.coder-dos {
  background-image: url("../assets/images/coder-dos.JPG");
  background-size: 200px, 200px;
}

.coder-tres {
  background-image: url("../assets/images/coder-tres.JPG");
  background-size: 200px, 200px;
}

.coder-cuatro {
  background-image: url("../assets/images/coder-cuatro.JPG");
  background-size: 200px, 200px;
  clear: left;
}

.coder-cinco {
  background-image: url("../assets/images/coder-cinco.JPG");
  background-size: 200px, 200px;
}

.coder-seis {
  background-image: url("../assets/images/coder-seis.JPG");
  background-size: 200px, 200px;
}

/*Estilos para el ejercicio de Applove*/

/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

div > img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 { /*usada*/
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase { /*usada*/
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

header {
  background-color: white;
  width: 100%;
  height: 100px;
  position: relative;
}

#menu{
  position: fixed;
  background: white;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 170px;
  padding-right: 132px;
}

.logo-menu {
  width:75px;
  height:75px;
  float: right;
}

.m-0 > .container {
  text-align: center;
  color: whitesmoke;
}

#first {
  background-image: url("../assets/images/bg-home.jpg");
  height: 535px;
  background-size: 1350px
}

#second {
  background: #F17C72;
  height: 535px;
}

#third {
  height: 535px;
}
