<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>AppLove</title>
  </head>
  <body>
    <header>
      <div class="container" id="menu">
        <img src="../assets/images/logo.png" class="logo-menu" alt="logo-del-menú">
        <a href="#" class="text-uppercase em">Services</a>
        <a href="#" class="text-uppercase em">Work</a>
        <a href="#" class="text-uppercase em">The team</a>
      </div>
    </header>
    <section class="m-0" id="first">
      <div class="container">
        <h2 class="text-uppercase">you just found an untilmate</h2>
        <h1 class="text-uppercase">We are applove from heart</h1>
        <p class="text-uppercase">handcrafted - modern design - pixel perfect - passioned design</p>
        <div class="text-uppercase"><a href="#">View services</a></div>
      </div>
    </section>
    <section class="m-0" id="services">
      <div  class="container">
        <h2 class="text-uppercase">Services</h2>
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut,<br>
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </h4>
        <img class="serv-img" src="../assets/images/services-1.png" alt="user-interface-design">
        <img class="serv-img" src="../assets/images/services-2.png" alt="concept-and-ideas">
        <img class="serv-img" src="../assets/images/services-3.png" alt="design-and-branding">
        <div class="serv-cont">
          <h5 class="text-uppercase">user interface design</h5>
          <h6>Wireframing</h6>
          <h6>Prototyping</h6>
          <h6>Usability testing</h6>
        </div>
        <div class="serv-cont">
          <h5 class="text-uppercase">concept and ideas</h5>
          <h6>Conceptualization</h6>
          <h6>Digital Branding</h6>
          <h6>Product Strategy</h6>
        </div>
        <div class="serv-cont">
          <h5 class="text-uppercase">desing and branding</h5>
          <h6>Interaction Design</h6>
          <h6>Graphic Design</h6>
          <h6>Identity Design</h6>
        </div>
      </div>
    </section>
    <section class="m-0" id="work">
      <div class="container">
        <h2 class="text-uppercase">work</h2>
        <h4>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntut,<br>
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
        </h4>
        <img class="work-hero"src="../assets/images/hero.png" alt="hero" height="900px">
        <div class="container">
          <img class="img-work" src="../assets/images/work-1.jpg" alt="work-uno">
          <img class="img-work" src="../assets/images/work-2.jpg" alt="work-dos">
          <img class="img-work" src="../assets/images/work-3.jpg" alt="work-tres">
          <img class="img-work" src="../assets/images/work-4.jpg" alt="work-cuatro">
          <img class="img-work" src="../assets/images/work-5.jpg" alt="work-cinco">
          <img class="img-work" src="../assets/images/work-6.jpg" alt="work-seis">
          <img class="img-work" src="../assets/images/work-7.jpg" alt="work-siete">
          <img class="img-work" src="../assets/images/work-10.jpg" alt="work-ocho">
          <img class="img-work" src="../assets/images/work-11.jpg" alt="work-nueve">
        </div>
      </div>
    </section>
    <footer>
      <p>&#169; Copyright</p>
    </footer>
  </body>
</html>
