<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/vendors/font-awesome.min.css">
    <title>Pinterest</title>
  </head>
  <body>
    <nav class="nav-pinterest">
      <section>
        <section class="search">
          <img class="principal-logo"src="../assets/images/logo-pinterest.png" alt="pinterest-logo">
          <p>Lupa</p>
          <input type="text" class="input-nav">
          <p>Todos los pines</p>
          <p></p>
        </section>
        <section class="icons">
          <i class="fa fa-user" aria-hidden="true"></i>
          <img src="http://dummyimage.com/50x50" alt="menu">
          <img src="http://dummyimage.com/50x50" alt="talk">
        </section>
      </section>
      <section class="clear">
        <ol>
          <li class="categories" style="height:56px;min-width:84px;background-size:cover;white-space:nowrap;background-color:#58474c;background-image:url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/92/00/b1/9200b14aed75336dfa230f8f48b58329.jpg');">Tiernos</li>
          <li class="categories" style="">Graciosos</li>
          <li class="categories" style="">Manualidades</li>
          <li class="categories" style="">Bebes</li>
          <li class="categories" style="">Razas</li>
          <li class="categories" style="">Arte</li>
          <li class="categories" style="">Dibujos</li>
          <li class="categories" style="">Fondos</li>
          <li class="categories" style="">Juguetes</li>
          <li class="categories" style="">Cosas</li>
          <li class="categories" style="">Chistosos</li>
          <li class="categories" style="">Frases</li>
        </ol>
      </section>
    </nav> <!-- //nav -->

    <main>
      <section>
        <div><img src="http://dummyimage.com/250x1300" alt=""></div>
        <div><img src="http://dummyimage.com/250x100" alt=""></div>
        <div><img src="http://dummyimage.com/250x300" alt=""></div>
        <div><img src="http://dummyimage.com/250x400" alt=""></div>
        <div><img src="http://dummyimage.com/250x500" alt=""></div>
        <div><img src="http://dummyimage.com/250x300" alt=""></div>
        <div><img src="http://dummyimage.com/250x800" alt=""></div>
        <div><img src="http://dummyimage.com/250x200" alt=""></div>
        <div><img src="http://dummyimage.com/250x1300" alt=""></div>
        <div><img src="http://dummyimage.com/250x100" alt=""></div>
        <div><img src="http://dummyimage.com/250x300" alt=""></div>
        <div><img src="http://dummyimage.com/250x400" alt=""></div>
        <div><img src="http://dummyimage.com/250x500" alt=""></div>
        <div><img src="http://dummyimage.com/250x300" alt=""></div>
        <div><img src="http://dummyimage.com/250x800" alt=""></div>
        <div><img src="http://dummyimage.com/250x200" alt=""></div>
      </section>

    </main>

  </body>
</html>
