<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/vendors/font-awesome.min.css">
    <title>Pinterest</title>
  </head>
  <body>
    <nav class="nav-pinterest">
      <section>
        <section class="search">
          <img class="principal-logo"src="../assets/images/logo-pinterest.png" alt="pinterest-logo">
          <div>
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="input-nav">
            <span class="search-text">Todos los pines &nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i></span>
          </div>
        </section>
        <section class="icons">
          <i class="fa fa-user" aria-hidden="true"></i>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <i class="fa fa-commenting" aria-hidden="true"></i>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </section>
      </section>
      <section class="clear">
        <ol>
          <li class="categories" style="background-color:#58474c;background-image:url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/92/00/b1/9200b14aed75336dfa230f8f48b58329.jpg');">Tiernos</li>
          <li class="categories" style="background-color:#725634;background-image:url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/a9/61/e4/a961e4de59aecf8282f4fa9ffaf35f4e.jpg');">Graciosos</li>
          <li class="categories" style="background-color: rgb(97, 91, 73); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/13/4f/5f/134f5f785f38ef004ff42e2d6aefadc4.jpg');">Manualidades</li>
          <li class="categories" style="background-color: rgb(118, 118, 178);background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/79/ca/53/79ca53bc8af9a63c4fb18bc350d75f51.jpg');">Camas</li>
          <li class="categories" style="background-color: rgb(150, 156, 158); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/17/26/cb/1726cb516fe67ed12f5c7ed66d858362.jpg');">Razas</li>
          <li class="categories" style="background-color: rgb(188, 171, 156); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/bf/71/ff/bf71fff3afebe2ef5925c737647bf427.jpg');">Arte</li>
          <li class="categories" style="background-color: rgb(228, 138, 111); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/76/11/53/7611530ad9562a9e0a5224baf9cb6325.jpg');">Dibujos</li>
          <li class="categories" style="background-color: rgb(182, 182, 182); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/da/0e/0e/da0e0ed7540c1babbdc5c81f8790976e.jpg');">Fondos</li>
          <li class="categories" style="background-color: rgb(167, 139, 132); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/59/44/0c/59440cb817e3737223cbf9a88087e855.jpg');">Juguetes</li>
          <li class="categories" style="background-color: rgb(165, 44, 158); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/c6/45/6a/c6456abfed8577cbf8d815a9f8780948.jpg');">Cosas</li>
          <li class="categories" style="background-color: rgb(121, 117, 115); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/97/67/c7/9767c7045f88008ea2075c3f116c415a.jpg');">Chistosos</li>
          <li class="categories" style="background-color: rgb(193, 184, 172); background-image: url('https://s-media-cache-ak0.pinimg.com/111x55_sf-76/ba/b0/43/bab043c4ff790251f5d9332e713914d9.jpg');">Frases</li>
        </ol>
      </section>
    </nav> <!-- //nav -->

    <main>
      <section>
        <article>
          <img src="../assets/images/gatos-1.jpg" alt="">
          <div><p>Gatos en todas partes...</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-2.jpg" alt="">
          <div><p>Are you better suited to a fluffy, pampered princess or a rough and tumble tomcat?</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-3.jpg" alt="">
          <div><p>Gatcornio</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-4.jpg" alt="">
          <div><p>Black cats have emerged as one of Halloween's most enduring symbols though they're really...</p></div>
        </article>

        <article>
          <img src="../assets/images/gatos-5.jpg" alt="">
          <div><p>Skipy Elizondo</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-6.jpg" alt="">
          <div><p>Poema felino</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-7.jpg" alt="">
          <div><p>Los gatos son criaturas extremadamente extrañas. Es inútil tratar de entenderlos, por lo que solo queda aceptarlos y amar con todas sus rarezas.</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-8.jpg" alt="">
          <div><p>Gatito developer</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-9.jpg" alt="">
          <div><p>Muto Comic Versus Human B. Price.</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-10.jpg" alt="">
          <div><p>Gatite carey</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-11.jpg" alt="">
          <div><p>Ayuda felina</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-12.jpg" alt="">
          <div><p>Mamá</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-13.jpg" alt="">
          <div><p>Ojazos</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-14.jpg" alt="">
          <div><p>Tips felinos</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-15.jpg" alt="">
          <div><p>Bom dia! Você conhece bem o seu gato? Sabe porque ele ronrona?</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-16.jpg" alt="">
          <div><p>Mi yo interior</p><br></div>
        </article>

        <article>
          <img src="../assets/images/gatos-17.jpg" alt="">
          <div><p>Pusheen :3</p><br></div>
        </article>

      </section>
    </main>
  </body>
</html>
