<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css">
    <title>Pinterest</title>
  </head>
  <body>
    <nav class="nav-pinterest">
      <section>
        <section class="search">
          <img src="http://dummyimage.com/50x50" alt="logo-pinterest">
          <input type="text" class="input-nav">
        </section>
        <section class="icons">
          <img src="http://dummyimage.com/50x50" alt="user">
          <img src="http://dummyimage.com/50x50" alt="menu">
          <img src="http://dummyimage.com/50x50" alt="talk">
        </section>
      </section>
      <section class="clear">
        <ol>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
          <li class="categories">categoria</li>
        </ol>
      </section>
    </nav> <!-- //nav -->

    <main>
      <section>
        <img src="http://dummyimage.com/250x1300" alt="">
        <img src="http://dummyimage.com/250x100" alt="">
      </section>

      <section>
        <img src="http://dummyimage.com/250x300" alt="">
        <img src="http://dummyimage.com/250x400" alt="">
      </section>
    </main>

  </body>
</html>
